/* Show it is fixed to the top */

body {
    min-height: 75rem;
    padding-top: 3.5rem;
}
.foto{
    width: 85%;
    height: 400px;
}
.titulo{
    font-size: 70px;
    font-weight: bold;
}
.subtitulo{
    font-size: 50px;
    font-weight: bold;
}
.argumento{
    font-size: 19px;
}